<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"  data-layout-decorate="~{fragments/layout_template}">
<head>

    <title>template</title>

</head>
<body>
    <div data-layout-fragment="contenido">
        <div  data-th-replace="fragments/template-nav-header :: header-nav"></div>
        <!-- Header Section-->
        <section class="dashboard-header section-padding">
            <div class="container-fluid">
                <div class="row d-flex align-items-md-stretch">
                    <!-- To Do List-->
                    <div class="col-lg-9 col-md-12">
                        <h2 class="display h4">Tickets</h2>
                        <div class="card">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs">
                                    <li class="nav-item" th:each="st : ${lsStatus}">
                                        <small><a class="nav-link" th:classappend="${status}==${st.id} ? ' active' : '' " th:href="@{/manager/dashboard(status=${st.id})}" th:text="${st.status}"></a></small>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <table class="table ">
                                    <tr>
                                        <th>Departamento</th>
                                        <th>Creado</th>
                                        <th>Actualizado</th>
                                        <th>Usuario</th>
                                    </tr>
                                    <tr th:each="tk : ${tickets}">
                                        <td th:text="${tk.deptoAtn.codigo}"></td>
                                        <td th:text="${#dates.format(tk.fechaCreado,'dd-MM-yy HH:mm')}"></td>
                                        <td th:text="${#dates.format(tk.fechaModificado,'dd-MM-yy HH:mm')}"></td>
                                        <td th:text="${tk.usuario.nombre + ' ' + tk.usuario.apellidos}"></td>
                                        <td><a th:href="@{/manager/revisa(idt=${tk.id})}">Abrir</a></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="card-footer">
                                <nav aria-label="Page navigation example" th:if="${tickets}">
                                    <ul class="pagination" th:if="${tickets.totalPages > 1}">
                                        <li class="page-item" th:if="${not tickets.first}"><a class="page-link" th:href="@{dashboard(status=${status},page=${tickets.number}-1)}">Anterior</a></li>
                                        <li  th:class="${i==tickets.number} ? 'page-item active' : 'page-item'" th:each="i : ${#numbers.sequence(0,(tickets.totalPages)-1)}">
                                            <a th:text="${i}" th:href="@{dashboard(status=${status},page=${i})}"   class="page-link">1</a></li>
                                        <li  class="page-item"><a  class="page-link" th:if="${not tickets.last}" th:href="@{dashboard(status=${status},page=${tickets.number}+1)}">Siguiente</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Pie Chart-->
                    <div class="col-lg-3 col-md-6">
                        <div class="card project-progress">
                            <h2 class="display h4">Tickets</h2>
                            <p> Solicitudes Totales</p>
                            <div class="pie-chart">
                                <canvas id="pieChart" width="200" height="200"> </canvas>
                            </div>
                            <p> Solicitudes Hoy</p>
                            <div class="pie-chart">
                                <canvas id="pieChart-hoy" width="200" height="200"> </canvas>
                            </div>
                        </div>
                    </div>
                    <!-- Line Chart -->
                </div>
            </div>
        </section>

        <!-- nuevo  -->

        <script th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function () {

                'use strict';

                // Main Template Color
                var brandPrimary = '#33b35a';

                var PIECHART = $('#pieChart');
                var myPieChart = new Chart(PIECHART, {
                    type: 'doughnut',
                    data: {
                        labels: [
                            "NUEVOS",
                            "EN PROCESO",
                            "FINALIZADOS"
                        ],
                        datasets: [
                            {
                                data: [ [[${contadores.nuevos}]], [[${contadores.enProceso}]], [[${contadores.finalizados}]]],
                                borderWidth: [1, 1, 1],
                                backgroundColor: [
                                    brandPrimary,
                                    "rgba(75,192,192,1)",
                                    "#FFCE56"
                                ],
                                hoverBackgroundColor: [
                                    brandPrimary,
                                    "rgba(75,192,192,1)",
                                    "#FFCE56"
                                ]
                            }]
                    }
                });

                var PIECHARTH = $('#pieChart-hoy');
                var myPieChart = new Chart(PIECHARTH, {
                    type: 'doughnut',
                    data: {
                        labels: [
                            "NUEVOS",
                            "EN PROCESO",
                            "FINALIZADOS"
                        ],
                        datasets: [
                            {
                                data: [ [[${contadoresHoy.nuevos}]], [[${contadoresHoy.enProceso}]], [[${contadoresHoy.finalizados}]]],
                                borderWidth: [1, 1, 1],
                                backgroundColor: [
                                    brandPrimary,
                                    "rgba(75,192,192,1)",
                                    "#FFCE56"
                                ],
                                hoverBackgroundColor: [
                                    brandPrimary,
                                    "rgba(75,192,192,1)",
                                    "#FFCE56"
                                ]
                            }]
                    }
                });

            });

            /*]]>*/
        </script>
        <div  data-th-replace="fragments/template-footer :: footer-template"></div>
    </div>
</body>
</html>