<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" data-layout-decorate="~{fragments/layout}">
<head>

    <title>REGISTRO</title>

</head>
<body>
<div data-layout-fragment="contenido">
    <div class="row">
        <div class="col-md-12">
            <img th:src="@{${'https://ui-avatars.com/api/?font-size=0.43&bold=true&rounded=true&background=0D8ABC&color=fff&name=' + usuario.nombre + '+' + usuario.apellidos}}">
            <span th:text="${usuario.organizacion}"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">

            <div class="card">
                <div class="card-header">
                    <h2>Solicitud de Soporte</h2>
                </div>
                <div class="card-body d-print-none">
                    <form method="post" th:action="@{/guardaSolicitud}">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="telefono">Extensión o Teléfono</label>
                                <input type="text" id="telefono" class="form-control" name="telefono"
                                       style="width: 100%" required>
                            </div>
                            <div class="col-sm-6">
                                <label for="departamento" class="">Departamento</label>
                                <select id="departamento" name="departamento" class="form-control" style="width: 100%"
                                        required>
                                    <option value=""> Seleccione un departamento</option>
                                    <option th:each="dpt : ${deptosAtn}" th:value="${dpt.id}"
                                            th:text="${dpt.departamentoNombre}"></option>
                                </select>
                            </div>

                            <div class="col-sm-12">
                                <label for="descripcion">Descripción amplia y detallada del problema</label>
                                <textarea class="form-control" id="descripcion" name="descripcion" rows="10"
                                          required></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="hidden" name="idu" th:value="${usuario.id}">
                            <button class="btn btn-dark btn-sm">Enviar Solicitud</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!--        <div class="row">-->
            <div class="card">
                <div class="card-header">
                    <h5>Solicitudes</h5>
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item" th:each="st : ${lsStatus}">
                            <a class="nav-link" th:classappend="${status}==${st.id} ? ' active' : '' "
                               th:href="@{/perfil(status=${st.id})}" th:text="${st.status}"></a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div th:if="${lsSolicitudes}" th:each="sa : ${lsSolicitudes}">
                        <div class="row">
                            <a th:href="@{revisa(idt=${sa.id})}" class="col-md-2 btn btn-info btn-sm" th:text="${sa.deptoAtn.codigo}"></a> <span
                                class="col-md-6" th:text="${#dates.format(sa.fechaCreado,'yyMMddHHmm')}"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination" th:if="${lsSolicitudes.totalPages > 1}">
                            <li class="page-item" th:if="${not lsSolicitudes.first}"><a class="page-link" th:href="@{/perfil(status=${status},page=${lsSolicitudes.number}-1)}">Anterior</a></li>
                            <li  th:class="${i==lsSolicitudes.number} ? 'page-item active' : 'page-item'" th:each="i : ${#numbers.sequence(0,(lsSolicitudes.totalPages)-1)}">
                                <a th:text="${i}" th:href="@{/perfil(status=${status},page=${i})}"   class="page-link">1</a></li>
                            <li  class="page-item"><a  class="page-link" th:if="${not lsSolicitudes.last}" th:href="@{/perfil(status=${status},page=${lsSolicitudes.number}+1)}">Siguiente</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>