<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"  data-layout-decorate="~{fragments/layout_template_login}">
<head>

    <title>template</title>

</head>
<body>
    <div data-layout-fragment="contenido">
        <div class="d-md-flex h-md-100 align-items-center">
            <div class="col-md-6 p-0 bg-indigo h-md-100">
                <div class="form-outer text-center d-flex align-items-center ">
                    <div class="form-inner">
                        <div class="logo text-uppercase"><span>Registro</span><strong class="text-warning">Clientes</strong></div>
                        <p>Los datos de registro permiten llevar un mejor seguimiento de su solicitud, este paso es solo una vez, en las subsecuentes solo
                        requiere su correo para realizar solicitudes de soporte.</p>
                        <form th:action="@{/registro}"  th:if="${usuarios}" method="post" th:object="${usuarios}" class="text-left form-validate">
                            <div class="form-group-material">
                                <input id="email" type="text"  th:field="*{email}" name="email" required data-msg="Coloque su correo" class="input-material" readonly autocomplete="false">
                                <label for="email" class="label-material">Correo</label>
                            </div>
                            <div class="form-group-material">
                                <input id="nombre" type="text" th:field="*{nombre}" required data-msg="Nombre(s)" class="input-material" autocomplete="false">
                                <label for="nombre" class="label-material">Nombre(s)</label>
                            </div>
                            <div class="form-group-material">
                                <input id="apellidos" type="text" th:field="*{apellidos}" name="email" required data-msg="Coloque su correo" class="input-material">
                                <label for="apellidos" class="label-material">Apellidos</label>
                            </div>
                            <div class="form-group-material">
                                <input id="telefono" type="text" th:field="*{telefono}" name="telefono" required data-msg="Coloque su telefono+extension" class="input-material">
                                <label for="telefono" class="label-material">Telefono + Extensión</label>
                            </div>
                            <div class="form-group-material">
                                <input id="organizacion" type="text" th:field="*{organizacion}" name="organizacion" required data-msg="Coloque su correo" class="input-material">
                                <label for="organizacion" class="label-material">Organización</label>
                            </div>
                            <div class="form-group text-center">
                                <a th:href="@{/}" class="btn btn-secondary btn-round">Cancelar</a>
                                <button class="btn btn-info btn-round">Ingresar</button>
                                   <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-0 bg-dark h-md-100 loginarea">
<!--                <div class="form-outer text-center d-flex align-items-center">-->
<!--                    <div class="form-inner" >-->
<!--                        <div class="logo text-uppercase"><span>Acceso</span><strong class="text-cyan">Operadores</strong></div>-->
<!--                        <p>Acceso administrativo al sistema de helpdesk lifesavers, Si no es administrador u operador, ingrese en el menu de la izquierda</p>-->
<!--                        <form th:action="@{/login}" method="POST" class="text-left form-validate">-->
<!--                            <div class="form-group-material">-->
<!--                                <input id="login-username" type="text" name="username" required data-msg="Coloque su usuario" class="input-material">-->
<!--                                <label for="login-username" class="label-material">Usuario</label>-->
<!--                            </div>-->
<!--                            <div class="form-group-material">-->
<!--                                <input id="login-password" type="password" name="password" required data-msg="Ingrese su password" class="input-material">-->
<!--                                <label for="login-password" class="label-material">Contraseña</label>-->
<!--                            </div>-->
<!--                            <div class="form-group text-center"><button class="btn btn-dark btn-round">Login</button>-->
<!--                                &lt;!&ndash; This should be submit button but I replaced it with <a> for demo purposes&ndash;&gt;-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>

    </div>
</body>
</html>